{% if cart.item_count > 0 %}
<section class="cart container">
  <div class="cart__header">
    <h1>Your products</h1>
  </div>
  <div class="cart__content">
    {% for item in cart.items %}
    <div class="cart__element">
      <div class="cart__element-inner">
        <div class="cart__image">
          <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
        </div>
        <div class="cart__name"><span>{{ item.product.title }}</span></div>
        <div class="cart__price"><span>{{ item.price | money }} x {{ item.quantity }}</span></div>
        <div class="cart__color"><div class="cart__color-circle cart__color-circle--{{ item.variant.title }}"></div></div>
        <div class="cart__total">
          <span>
            {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          </span>
        </div>
        <div class="cart__remove">
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
          </a>
        </div>
        <div class="cart__edit">
          <a href="{{ item.url }}">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pen" class="svg-inline--fa fa-pen fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"></path></svg>
          </a>

        </div>
        <div class="cart__image">
          <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <!-- <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table> -->
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}
