{% if cart.item_count > 0 %}
<section class="cart container">
  <div class="cart__header">
    <h1>Your products</h1>
  </div>
  <div class="cart__content cart__desktop">

    <div class="cart__element">
      <div class="cart__element-inner">
        <div class="cart__image"></div>
        <div class="cart__name"><span>Product name:</span></div>
        <div class="cart__color"><span>Color:</span></div>
        <div class="cart__price"><span>Price and quantity:</span></div>
        <div class="cart__total"><span>Total price:</span></div>
        <div class="cart__remove"></div>
        <div class="cart__add"></div>
        <div class="cart__image"></div>
      </div>
    </div>

    {% for item in cart.items %}
    <div class="cart__element">
      <div class="cart__element-inner">
        <div class="cart__image">
          <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
        </div>
        <div class="cart__name"><span>{{ item.product.title }}</span></div>
        <div class="cart__color">
          <div class="cart__color-circle cart__color-circle--{{ item.variant.title }}"></div>
        </div>
        <div class="cart__price"><span>{{ item.price | money }} x {{ item.quantity }}</span></div>
        <div class="cart__total">
          <span>
            {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          </span>
        </div>
        <div class="cart__remove">
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt"
              class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z">
              </path>
            </svg>
          </a>
        </div>
        <div class="cart__add">
          <a href="{{ item.url }}">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus"
              class="svg-inline--fa fa-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
              </path>
            </svg>
          </a>

        </div>
        <div class="cart__image">
          <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
        </div>
      </div>
    </div>
    {% endfor %}

    <form class="checkout" action="/cart" method="post" novalidate>
        <p class="checkout__sub-total">sub total : {{ cart.total_price | money }}</p>
        <button class="btn btn__secondary" type="submit" name="checkout">Checkout</button>
    </form>
  </div>



  <div class="cart__content cart__mobile">

    {% for item in cart.items %}
    <div class="cart__element">
      <div class="cart__element-inner">
        <div class="cart__image">
          <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
        </div>
        <div class="cart__name"><span>Product:</span><span>{{ item.product.title }}</span></div>
        <div class="cart__color">
          <span class="cart__color-text">Color:</span>
          <div class="cart__color-circle cart__color-circle--{{ item.variant.title }}"></div>
        </div>
        <div class="cart__price"><span>Price x Qty: </span><span>{{ item.price | money }} x {{ item.quantity }}</span></div>
        <div class="cart__total">
          <span>Total: </span>
          <span>
            {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          </span>
        </div>
        <div class="cart__remove">
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt"
              class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z">
              </path>
            </svg>
          </a>
        </div>
        <div class="cart__add">
          <a href="{{ item.url }}">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus"
              class="svg-inline--fa fa-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
              </path>
            </svg>
          </a>

        </div>
      </div>
    </div>
    {% endfor %}

    <form class="checkout" action="/cart" method="post" novalidate>
        <p class="checkout__sub-total">sub total : {{ cart.total_price | money }}</p>
        <button class="btn btn__secondary" type="submit" name="checkout">Checkout</button>
    </form>
  </div>

</section>

{% else %}
<section class="cart container">
<h1>Cart is empty</h1>
</section>
{% endif %}